<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ITI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="active nav-link text-dark" asp-controller="Departments" asp-action="Index">Departments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Instructors" asp-action="Index">Instuctors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Index">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Trainees" asp-action="Index">Trainees</a>
                </li>
            </ul>


            <ul class="navbar-nav">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item flex-grow-20">
                        <a class="active btn btn-primary text-Light" asp-controller="Account" asp-action="Login">Login</a>
                    </li> 
                    
                    <li class="nav-item ml-2">
                        <a class="active btn btn-outline-light text-dark" asp-controller="Account" asp-action="Register">Register</a>
                    </li>

                }
                else
                {
                    <li class="nav-item mr-2 container align-content-center">
                        <h6>@User.Identity.Name</h6>  
                    </li>
                    <li class="nav-item">
                        <a class="active btn btn-outline-danger text-light" asp-controller="Account" asp-action="Logout">Logout</a>
                    </li>
                
                }

            </ul>
        </div>
    </div>
</nav>
