@model List<Instructor>
@{
    ViewData["Title"] = "Instructors";
}
<div class="container">
    <div class="row align-items-start">
    <h1 class="col-10">Instructors</h1>
        <a type="button" class=" col btn btn-success" href="/instructors/newInstructor">New Instructor</a>
    </div>
</div>

<table class="table table-border table-hover">
    <tr>
        <th>Employee</th>
        <th>Dpartment Name</th>
        <th>Salary</th>
        <th>Address</th>


    </tr>
    @foreach (var instructor in Model)
    {
        <tr>
            <td>@instructor.Name</td>
            <td>@instructor.Department.Name</td>
            <td>@instructor.Salary</td>
            <td>@instructor.Address</td>
        </tr>

    }


</table>

