<table class="table table-border table-hover">
    <tr>
        <th>Employee</th>
        <th>Type</th>
        <th>Salary</th>
        <th>Hiring Date</th>


    </tr>
    @foreach (Employee employee in Model)
    {
        string imagePath = employee.ImagePath ?? "default.png";
        <tr>
            <td> <a href="/Employee/getemployee/@employee.Id" style="text-decoration:none;color:black   ;"> <img src="/images/@imagePath" style="height:25px; width:25px;border-radius: 50%; object-fit :cover;" /> @employee.Name</a> </td>
            <td>@employee.Type</td>
            <td>@employee.Salary</td>
            <td>@employee.HiringDate</td>
        </tr>
        
    }

 
</table>

