@model TraineeGradeViewModel
<table class="table table-border table-hover">
    <tr>
        <th>Name</th>
        <th>Course</th>
        <th>Grade</th>
        <th>Status</th
    </tr>

        <tr>
            <td>@Model.TraineeName</td>
            <td>@Model.CourseName</td>
            <td>@Model.TraineeGrade</td>
            <td style="color:@Model.Color">@Model.Status</td>         
        </tr>




</table>
