@model Department

<div style="color: black ;font-size:12px; padding:20px;z-index:-1; width:max-content ;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <p> @Model.Id - @Model.Name</p>
    <p>Manager Name :  @Model.Manager</p>
</div>
